@font-face {
  font-family: GT Walsheim Pro;
  src: url(font/GTWalsheimPro-Regular.woff);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "GT Walsheim Pro";
  font-weight: 300;
  font-style: normal;
  color: black;
}

/* HEADER STYLING*/
.logo-container {
  background-color: black;
  height: 10vh;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
}

#header-logo {
  width: 50%;
}

/* SECTIONS STYLING*/
.section-title {
  margin: 10px 20px 20px 20px;
  font-weight: bold;
}

.sub-title {
  margin: 10px 20px 20px 20px;
}

.text {
  margin: 10px 20px 20px 20px;
}

.grey-sections {
  background-color: white;
}

.white-sections {
  background-color: #e4e4e4;
}

.section-img {
  max-width: 100%;
}

.link {
  color: black;
  font-size: 18px;
  margin: 10px;
}

/* FOOTER STYLING*/
footer {
  background-color: black;
  color: white;
}

.footer-text {
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

footer ul li {
  color: white;
  font-size: 12px;
  /* display: inline-block; */
  margin: 10px;
}
