@font-face {
  font-family: GT Walsheim Pro;
  src: url(font/GTWalsheimPro-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GT Walsheim Pro, sans-serif;
}

.slider-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 30vh;
}

.slide {
  position: relative;
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("images/pic1.jpeg");
}
.slide2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("images/pic2.jpg");
}
.slide3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("images/pic3.jpg");
}

.slideText {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 60%;
}

.slideP {
  color: white;
}
.slideHL {
  color: yellow;
  font-size: 150%;
}
.previous,
.next {
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  z-index: 10;
  cursor: pointer;
}

.previous {
  left: 3%;
}
.next {
  right: 3%;
}
.dots {
  display: flex;
  justify-content: space-between;
  width: 70px;
  position: absolute;
  z-index: 10;
  bottom: 3%;
  left: 50%;
  margin-left: -35px;
}
.dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(146, 146, 146);
  transition: background-color 1s ease-in-out;
}
/* //////////////////Andy start/////////////////////  */
.form-container {
  background: #434343;
  color: #fff;
  padding: 50px 0;
}
li {
  list-style-type: none;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type="checkbox"]) {
  padding: 15px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}
/* //////////////////FORM VALIDATION /////////////////////  */
input:not([type="checkbox"]) {
  all: unset;
  background: white;
  color: black;
  transition: 0.5s;
}
input:placeholder-shown {
  border: none;
}

input:valid {
  border: solid rgb(8, 190, 8);
  border-left-width: 20px;
}
input:invalid:not(:focus):not(:placeholder-shown) {
  border: solid rgb(202, 14, 14);
  border-left-width: 20px;
}

input + p {
  display: none;
}

input:invalid + p {
  display: block;
  font-weight: 600;
  color: red;
}

/* //////// */
#submit {
  background: black;
  border: none;
  color: #2cff00;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  display: block;
  margin: auto;
}
.learn-more,
.about {
  color: #00cbff;
  text-decoration: none;
  cursor: pointer;
}
.learn-more:hover,
.about:hover {
  text-decoration: underline;
}
.dxc-about-innovation > p {
  color: white;
}
.dxc-about-innovation {
  background-color: black;
}
.purpose-form {
  background-color: #bdbcbc;
}
.dxc-about-innovation > img {
  max-width: 100%;
  padding-top: 2em;
}
.purpose-form > img {
  width: 100%;
}
.about {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1em;
  padding-bottom: 1em;
}
.inovation {
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  padding-top: 1em;
}
.something {
  margin: 2em;
}
.insight {
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  padding-bottom: 1em;
}
.sign {
  text-align: center;
}
.boxcheck {
  margin-bottom: 1.5em;
  text-align: center;
}
.ytext {
  color: #f5ff00;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
input[type="checkbox"]:checked {
  background: #abd;
}

/* //////////////////Andy end/////////////////////  */

body {
  min-height: 100%;
  min-width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  width: 100%;
  background-color: black;
  color: #ffffff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
}
.dxc-logo {
  width: 130px;
}
.dxc-logo img {
  width: 100%;
}

.subscribe-button {
  display: block;
  padding: 5px;
  background-color: yellow;
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin-left: auto;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  color: #bcbcbc;
  font-size: 10px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.additional-info {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.additional-info li {
  list-style-type: none;
  margin-left: 2px;
  text-decoration: none;
  color: #bcbcbc;
}

.additional-info li a {
  text-decoration: none;
  color: #bcbcbc;
}
.additional-info li a:hover {
  text-decoration: underline;
}

/* ----------------MAIN CONTENT */

.dynamics {
  min-height: 360px;
  padding: 1px;
  background-color: black;
}

.dynamics img {
  display: block;
  width: 278px;
  margin: 50px auto;
}

.dynamics p {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  color: white;
}
/* ------------------------------- */
.globalData {
  min-height: 660px;
  padding: 1px;
  background-color: #f2f2f2;
}
.globalData .title {
  width: 90%;
  margin: 50px auto;
}
.globalData h1 {
  font-size: 30px;
}

.globalData h2 {
  font-size: 20px;
}

.globalData img {
  display: block;
  width: 225px;
  margin: 50px auto;
}

.globalData p {
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.globalData .learn_data {
  display: block;
  width: 155px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  background-color: black;
  color: yellow;
  font-weight: 700;
  margin: 30px auto;
}
/* ------------------------------- */

/* .dxc-about-change {
} */
.dxc-about-change h1 {
  width: 90%;
  margin: 50px auto;
  font-size: 30px;
}

.dxc-about-change img {
  width: 100%;
}

.dxc-about-change p {
  width: 90%;
  font-size: 20px;
  margin: 30px auto;
}
.dxc-about-change .dxc-statistics {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.dxc-about-change .dxc-statistics li {
  width: 30%;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  margin: 30px auto;
}

.terms_and_conditions {
  background-color: rgba(220, 220, 220, 0.966);
  display: block;
  align-items: center;
  width: 80%;
  height: 60vh;
  font-size: 12px;
  font-weight: 100;
  position: fixed;
  z-index: 30;
  right: 50%;
  margin-right: -40%;
  top: 50%;
  margin-top: -30vh;
  padding: 50px;
  overflow: auto;
}

.close_conditions {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.email_existing_message {
  display: block;
  position: fixed;
  top: 45px;
  right: 0;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}
/* ------------------------------- */

/* //media queries---------------------------- */

.welcome-message {
  grid-area: welcome;
}
.slider-container {
  grid-area: slider;
}
.dynamics {
  grid-area: dynamics;
}
.globalData {
  grid-area: data;
}
.dxc-about-change {
  grid-area: dxc_change;
}
.dxc-about-innovation {
  grid-area: dxc_innovation;
}
.purpose-form {
  grid-area: form_purpose;
}
.form-container {
  grid-area: form;
}

@media only screen and (min-width: 875px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "welcome welcome"
      "slider slider"
      "dynamics data"
      "dxc_change dxc_innovation"
      "form_purpose form_purpose"
      "form form";
  }
  .dxc-about-innovation > img {
    width: 100%;
    padding-bottom: 4em;
  }
  .purpose-form > img {
    width: 50%;
  }
  .something {
    font-size: 30px;
    width: 80%;
    margin: auto;
  }
  .purpose-form {
    display: flex;
    flex-direction: row-reverse;
  }
  .purpose {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .inovation {
    font-size: 50px;
    width: 80%;
    margin: auto;
  }
  .terms_and_conditions {
    font-size: 20px;
  }
}

/* input + p.invalid_message {
  display: none;
}

input.invalid + p.invalid_message {
  display: block;
  color: red;
  font-weight: 600;
} */
